# Lingkungan Virtual Python
env/
venv/
.env/
credentials/
.env

# Cache dan File Kompilasi Python
__pycache__/
*.py[cod]
*$py.class
*.so

# File Data
# (Kita abaikan file CSV hasil output agar repository tidak bengkak)
hasil_data/

# Ekstensi Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.agents/